body {
    text-align: center;
    align-items: center;
}

.text {
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
}

.container {
    display: flex;
    justify-content: center;
}

.slidebox {
    background-color: lightgrey;   
    border-radius: 10px;
}

.slidecontainer {
    padding: 5px;    
    justify-content: center;
            
}

.color-box {
    background-color: lightgray;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 3px;
}

